@RenderShellContent()

<div hidden="@(string.IsNullOrWhiteSpace(ErrorMessage))">
    <span class="advanced-filter-error">@ErrorMessage</span>
</div>

@code {
    private RenderFragment RenderShellContent() =>
        @<text>
             @if (Filter is not null)
             {
                 <FilterEditPanel Filter="Filter"
                     IsPending="IsPending"
                     MainContent="MainContent"
                     ModeSelector="ModeSelector"
                     OnCancel="OnCancel"
                     OnExclusionChanged="OnExclusionChanged"
                     OnRemove="OnRemove"
                     OnSave="OnSave" />
             }
             else if (Value is { } savedFilter)
             {
                 <div class="flex-space-between">
                     <FilterRowHeader FilterLabelId="@_filterLabelId"
                         OnExclusionChanged="OnExclusionChanged"
                         Value="savedFilter" />

                     <FilterRowActions FilterLabelId="@_filterLabelId"
                         OnEdit="OnEdit"
                         OnRemove="OnRemove"
                         OnToggleEnabled="OnToggleEnabled"
                         @ref="_actionsRef"
                         Value="savedFilter" />
                 </div>
             }
    </text>;
}
