.toggle {
    display: flex;
    overflow: hidden;
    margin-left: 5px;
}

.toggle input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.toggle label {
    background-color: var(--background-darkgray);
    color: var(--clr-lightblue);
    line-height: 1;
    text-align: center;
    padding: 4px 8px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.toggle label:hover { cursor: pointer; }

.toggle input:checked + label:first-of-type {
    background-color: var(--clr-red);
    box-shadow: none;
    color: #fff;
    opacity: 0.75;
}

.toggle input:checked + label:last-of-type {
    background-color: var(--clr-green);
    box-shadow: none;
    color: var(--clr-black);
    opacity: 0.75;
}

.toggle label:first-of-type { border-radius: 4px 0 0 4px; }

.toggle label:last-of-type { border-radius: 0 4px 4px 0; }
