.toggle {
    display: flex;
    margin-left: 5px;
}

.toggle input {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.toggle label {
    background-color: var(--background-darkgray);
    color: var(--clr-lightblue);
    line-height: 1;
    text-align: center;
    user-select: none;
    padding: 4px 8px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    min-width: 4rem;
}

.toggle label:first-of-type { border-radius: 4px 0 0 4px; }

.toggle label:last-of-type { border-radius: 0 4px 4px 0; }

.toggle input:checked + label {
    box-shadow: none;
    color: var(--clr-black);

    &[data-single-color="true"] { background-color: var(--clr-lightblue); }
}

.toggle input:checked + label:first-of-type { background-color: var(--clr-red); }

.toggle input:checked + label:last-of-type { background-color: var(--clr-green); }

.toggle input:focus + label { border: 1px solid var(--clr-white); }
