.toggle {
    display: inline-flex;
    margin-left: 5px;
    width: fit-content;
}

.toggle input {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.toggle label {
    background-color: var(--background-darkgray);
    color: var(--clr-lightblue);
    line-height: 1;
    text-align: center;
    user-select: none;
    padding: 4px 8px;
    border-top: 1px solid var(--border-divider);
    border-bottom: 1px solid var(--border-divider);
    border-left: 1px solid var(--border-divider);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    min-width: 4rem;
    box-sizing: border-box;
}

.toggle label:last-of-type {
    border-right: 1px solid var(--border-divider);
}

.toggle input:checked + label {
    background-color: var(--clr-lightblue);
    color: var(--accent-on-fill);
}

.toggle input:checked + label[data-use-status-colors="true"]:first-of-type {
    background-color: var(--clr-red);
    color: var(--clr-white);
}

.toggle input:checked + label[data-use-status-colors="true"]:last-of-type {
    background-color: var(--clr-green);
    color: var(--clr-white);
}

.toggle input:focus-visible + label {
    outline: 2px solid var(--clr-statusbar);
    outline-offset: -2px;
}
