@using EventLogExpert.UI

<div id="context-menu">
    <div @onclick="() => CopySelected(CopyType.Default)">Copy Selected</div>
    <div @onclick="() => CopySelected(CopyType.Simple)">Copy Selected (Simple)</div>
    <div @onclick="() => CopySelected(CopyType.Xml)">Copy Selected (XML)</div>
    <div @onclick="() => CopySelected(CopyType.Full)">Copy Selected (Full)</div>

    <hr />

    <div class="sub-menu">
        <div>Include <i class="bi bi-caret-right"></i></div>
        <ul>
            @foreach (FilterCategory item in Enum.GetValues(typeof(FilterCategory)))
            {
                @if (item is FilterCategory.Description or FilterCategory.Xml) { continue; }

                <li @onclick="() => FilterEvent(item)">@item.ToFullString()</li>
            }
        </ul>
    </div>

    <div class="sub-menu">
        <div>Exclude <i class="bi bi-caret-right"></i></div>
        <ul>
            @foreach (FilterCategory item in Enum.GetValues(typeof(FilterCategory)))
            {
                @if (item is FilterCategory.Description or FilterCategory.Xml) { continue; }

                <li @onclick="() => FilterEvent(item, true)">@item.ToFullString()</li>
            }
        </ul>
    </div>
</div>
