.filter-row {
    display: flex;
    justify-content: space-between;
}

    .filter-row .filter-content { display: flex; }

    .filter-row .row-center { justify-self: center; }

    .filter-row .row-justify-right { justify-self: right; }

.fixed-width { width: 6rem; }

.sub-filter-row {
    display: flex;
    flex-direction: column;
}
