<div class="filter-row">
    @if (Value.IsEditing)
    {
        <div class="filter-content">
            <span>Filter On: </span>
            <FilterSelect @bind-Value="Value.FilterType" InputType="FilterType" />

            <span>Comparison: </span>
            <FilterSelect @bind-Value="Value.FilterComparison" InputType="FilterComparison" />

            <span>Value: </span>
            <div>
                @if (Value.FilterType is FilterType.Description)
                {
                    <FilterInput @bind-Value="@Value.FilterValue" />
                }
                else
                {
                    <FilterValueSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
                }
            </div>
        </div>
    }
    else if (string.IsNullOrWhiteSpace(Value.ComparisonString))
    {
        <span>No Filter Specified</span>
    }
    else
    {
        <span>@Value.ComparisonString</span>
    }

    <div class="row-justify-right">
        @if (Value.IsEditing)
        {
            <button class="button-primary" @onclick="AddSubFilter">
                <i class="bi bi-plus-circle"></i> Add Sub Filter
            </button>

            <button class="button-save" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button-remove fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button-primary" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button-remove fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button-save fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>

@if (Value.SubFilters.Any() && Value.IsEditing)
{
    <div class="sub-filter-row">
        @foreach (var item in Value.SubFilters)
        {
            <SubFilterRow ParentId="Value.Id" Value="@item" />
        }
    </div>
}
