.filter-row {
    display: flex;
    justify-content: space-between;
}

    .filter-row .row-center { justify-self: center; }

    .filter-row .row-justify-right { justify-self: right; }

    .filter-row .button-primary { width: 10rem; }

    .filter-row .button-remove,
    .filter-row .button-save { width: 6rem; }

.sub-filter-row {
    display: flex;
    flex-direction: column;
}
