@using EventLogExpert.Shared.Base
@inherits BaseModal<bool>

<ModalChrome AriaLabel="Release Notes"
    CloseLabel="Close"
    DialogClass="release-notes-dialog"
    Footer="FooterPreset.CloseOnly"
    OnClose="OnCancelAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    @ref="ChromeRef">
    <ChildContent>
        <div class="flex-column-scroll release-notes-content">
            @((MarkupString)_html)
        </div>
    </ChildContent>
</ModalChrome>
