@using EventLogExpert.Shared.Base
@inherits ModalBase<bool>

<ModalChrome AriaLabel="Release Notes"
    CloseLabel="Close"
    Footer="FooterPreset.CloseOnly"
    Height="70%"
    InlineAlert="@CurrentInlineAlert"
    MaxWidth="70rem"
    MinWidth="50rem"
    OnClose="OnCancelAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    @ref="ChromeRef">
    <ChildContent>
        <div class="flex-column-scroll release-notes-content">
            @((MarkupString)_html)
        </div>
    </ChildContent>
</ModalChrome>
