dialog {
    height: 60%;

    color: var(--clr-lightblue);
    border-color: var(--clr-statusbar);
    background-color: var(--background-dark);

    & #settings-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }
}

.tz-row { margin-bottom: .5rem; }

.fixed-width { width: 50px; }
