@using EventLogExpert.UI.Store.Settings
@using Microsoft.Extensions.Logging

@inject IState<SettingsState> SettingsState

<dialog id="settingsDialog">

    <EditForm id="settings-form" Model="_request" OnValidSubmit="Save">
        <div class="flex-column-scroll">
            <div class="flex-center-aligned-row tz-row">
                Time Zone:
                <ValueSelect CssClass="input timezone-dropdown" T="string" @bind-Value="_request.TimeZoneId">
                    @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                    {
                        <ValueSelectItem T="string" Value="item.Id">@item.DisplayName</ValueSelectItem>
                    }
                </ValueSelect>
            </div>

            <div class="flex-space-between">
                <div>Databases:</div>

                <button class="button" type="button" @onclick="ImportDatabase">
                    <i class="bi bi-plus-circle"></i> Import Database
                </button>
            </div>

            <div class="flex-column-scroll">
                @if (_databases.Any())
                {
                    @foreach (var database in _databases.OrderBy(x => x.Key))
                    {
                        <div class="flex-space-between">
                            <span>@database.Key</span>
                            <BooleanSelect Value="database.Value" ValueChanged="() => ToggleDatabase(database.Key)" />
                        </div>
                    }
                }
                else
                {
                    <p>None</p>
                }
            </div>

            <div class="flex-center-aligned-row">
                Expand Display Pane On Selection Change: <BooleanSelect @bind-Value="_request.ShowDisplayPaneOnSelectionChange" />
            </div>

            <div class="flex-center-aligned-row">
                Logging Level:
                <ValueSelect CssClass="input filter-dropdown" T="LogLevel" @bind-Value="_request.LogLevel">
                    @foreach (LogLevel item in Enum.GetValues(typeof(LogLevel)))
                    {
                        <ValueSelectItem T="LogLevel" Value="item" />
                    }
                </ValueSelect>
            </div>
        </div>

        <div class="footer-group">
            <div class="flex-align-center">
                Pre-release Builds: <BooleanSelect @bind-Value="_request.IsPrereleaseEnabled" />
            </div>

            <div class="button-group">
                <button class="button button-green" type="submit">Save</button>
                <button class="button" type="button" @onclick="Close">Exit</button>
            </div>
        </div>
    </EditForm>

</dialog>
