dialog {
    height: 30%;

    color: var(--clr-lightblue);
    border-color: var(--clr-statusbar);
    background-color: var(--background-dark);

    & #settings-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }
}

.tz-row { margin-bottom: 1rem; }

.provider-row {
    display: flex;
    justify-content: space-between;
}

.provider-list {
    display: flex;
    flex-direction: column;

    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

    .provider-list > p { margin: 0; }

.footer-group {
    display: flex;
    justify-content: space-between;
}

.prerelease-group {
    display: flex;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

    .button-group > button { width: 50px; }
