<div class="subfilter-row">
    <div class="filter-content">
        <span>Join On: </span>
        <FilterSelect @bind-Value="Value.FilterType" InputType="FilterType" />

        <span>Comparison: </span>
        <FilterSelect @bind-Value="Value.FilterComparison" InputType="FilterComparison" />

        <span>Value: </span>
        @if (Value.FilterType is FilterType.Description)
        {
            <FilterInput @bind-Value="@Value.FilterValue" />
        }
        else
        {
            <FilterValueSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
        }

    </div>

    <button class="button-remove" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
