@inherits FluxorComponent

<div id="table-column-menu">
    @foreach (var column in EventTableColumnsState.Value)
    {
        <div @onclick="() => ToggleColumn(column.Key)">
            @column.Key.ToFullString()
            @if (column.Value)
            {
                <i class="bi bi-check"></i>
            }
        </div>
    }

    <hr />

    <div class="sub-menu">
        <div>Order By <i class="bi bi-caret-right"></i></div>
        <ul>
            @foreach (var column in EventTableColumnsState.Value)
            {
                <li @onclick="() => OrderColumn(column.Key)">
                    @column.Key.ToFullString()
                    @if (EventTableState.Value.OrderBy.Equals(column.Key))
                    {
                        <i class="bi bi-check"></i>
                    }
                </li>
            }
        </ul>
    </div>
</div>
