<div class="input-select">
    <label>
        <input type="text" class="input-timezone-select" value="@Value" readonly
        @onfocusin="() => SetDropDownVisibility(true)" @onfocusout="() => SetDropDownVisibility(false)" />
        <i class="bi bi-caret-up" data-toggle="@IsDropDownVisible"></i>
    </label>

    <div class="dropdown-list" data-toggle="@IsDropDownVisible">
        @foreach (var timeZone in TimeZoneInfo.GetSystemTimeZones())
        {
            <div @onmousedown="() => UpdateValue(timeZone.Id)">@timeZone.DisplayName</div>
        }
    </div>
</div>