<select class="input-timezone-select" value="@Value" @onchange="SetValue">
    <option value="0" selected="@(0 == Value)">UTC (0)</option>
    <option value="-6" selected="@(-6 == Value)">Central (-6)</option>
</select>
