@typeparam T
@inherits Base.BaseComponent<T>

<div class="dropdown-input" @onkeydown="HandleKeyDown" @ref="_selectComponent">
    <input class="@CssClass" @oninput="OnInputChange" type="text" value="@DisplayString" tabindex="0" readonly="@(!IsInput || IsMultiSelect)" />

    <div class="dropdown-list" tabindex="-1">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
