@typeparam T

<div id="@ItemId" selected="@_isSelected" @onmousedown="SelectItem">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @DisplayString
    }
</div>
