@typeparam T
@inherits Base.BaseComponent<T>

<div class="dropdown-input" @onkeydown="HandleKeyDown" @ref="_selectComponent" tabindex="@(IsInput && !IsMultiSelect ? -1 : 0)">
    @if (IsInput && !IsMultiSelect)
    {
        <input class="@CssClass" @oninput="OnInputChange" type="text" value="@DisplayString" />
    }
    else
    {
        <span class="@CssClass">
            @DisplayString
        </span>
    }

    <div class="dropdown-list">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
