@using EventLogExpert.Runtime.Common.Clipboard
@using Microsoft.Extensions.Logging
@inherits ModalBase<bool>

<ModalChrome AriaLabel="Settings"
    BodyLayout="ModalBodyLayout.Flex"
    CancelLabel="Exit"
    Footer="FooterPreset.SaveCancel"
    Height="60%"
    InlineAlert="@CurrentInlineAlert"
    OnCancel="HandleCancelButtonClickAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    OnSave="OnSaveAsync"
    @ref="ChromeRef"
    SaveLabel="Save"
    StackFooterExtra="true">
    <ChildContent>
        <div class="settings-form">
            <div class="flex-column-scroll">
                <div class="flex-center-aligned-row tz-row">
                    <label for="settings-timezone">Time Zone:</label>
                    <ValueSelect @bind-Value="_timeZoneId" CssClass="input timezone-dropdown" Id="settings-timezone" T="string">
                        @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                        {
                            <ValueSelectItem T="string" Value="item.Id">@item.DisplayName</ValueSelectItem>
                        }
                    </ValueSelect>
                </div>

                <div class="flex-center-aligned-row">
                    <text>Expand Display Pane On Selection Change:</text>
                    <Toggle AriaLabel="Expand Display Pane On Selection Change" @bind-Value="_showDisplayPaneOnSelectionChange" />
                </div>

                <div class="flex-center-aligned-row">
                    <label for="settings-theme">Theme:</label>
                    <ValueSelect @bind-Value="_theme" CssClass="input filter-dropdown" Id="settings-theme" T="Theme">
                        @foreach (Theme item in Enum.GetValues(typeof(Theme)))
                        {
                            <ValueSelectItem T="Theme" Value="item">@(item == Theme.System ? "Follow System" : item.ToString())</ValueSelectItem>
                        }
                    </ValueSelect>
                </div>

                <div class="flex-center-aligned-row">
                    <label for="settings-copy-format">Keyboard Copy Behavior:</label>
                    <ValueSelect @bind-Value="_copyFormat" CssClass="input filter-dropdown" Id="settings-copy-format" T="EventCopyFormat">
                        @foreach (EventCopyFormat item in Enum.GetValues(typeof(EventCopyFormat)))
                        {
                            <ValueSelectItem T="EventCopyFormat" Value="item" />
                        }
                    </ValueSelect>
                </div>

                <div class="flex-center-aligned-row">
                    <label for="settings-log-level">Logging Level:</label>
                    <ValueSelect @bind-Value="_logLevel" CssClass="input filter-dropdown" Id="settings-log-level" T="LogLevel">
                        @foreach (LogLevel item in Enum.GetValues(typeof(LogLevel)))
                        {
                            <ValueSelectItem T="LogLevel" Value="item" />
                        }
                    </ValueSelect>
                </div>
            </div>
        </div>
    </ChildContent>

    <ExtraFooterContent>
        <div class="flex-center-aligned-row">
            <text>Pre-release Builds:</text>
            <Toggle AriaLabel="Pre-release Builds" @bind-Value="_isPreReleaseEnabled" />
        </div>
    </ExtraFooterContent>
</ModalChrome>
