@{
    Exception? currentCritical = CriticalErrorService.CurrentCritical;
    IReadOnlyList<ErrorBannerEntry> errors = ErrorBannerService.ErrorBanners;
    IReadOnlyList<BannerInfoEntry> infos = InfoBannerService.InfoBanners;
    IReadOnlyList<DatabaseEntry> attentionEntries = AttentionBannerService.AttentionEntries;
    bool attentionDismissed = AttentionBannerService.AttentionDismissed;
    BannerProgressEntry? backgroundProgress = ProgressBannerService.BackgroundProgress;
    bool attentionSuppressedByModalContext = IsAttentionSuppressedByModalContext();

    (BannerCycleItem? selected, BannerView view) = RebuildItemsAndPickSelected(
        currentCritical,
        errors,
        attentionEntries,
        attentionDismissed,
        attentionSuppressedByModalContext,
        backgroundProgress,
        infos);

    _currentView = view;
    bool showCyclePagination = _items.Count > 1 && view != BannerView.Critical;

    RenderFragment cycleNav = @<text>
                                   @if (showCyclePagination)
                                   {
                                       <span class="banner-pagination">@(_displayedIndex + 1) of @_items.Count</span>
                                       <button aria-label="Previous banner"
                                           class="banner-cycle-prev button"
                                           disabled="@(_displayedIndex == 0)"
                                           @onclick="OnCyclePrev"
                                           type="button">
                                           <i aria-hidden="true" class="bi bi-chevron-left"></i>
                                       </button>
                                       <button aria-label="Next banner"
                                           class="banner-cycle-next button"
                                           disabled="@(_displayedIndex == _items.Count - 1)"
                                           @onclick="OnCycleNext"
                                           type="button">
                                           <i aria-hidden="true" class="bi bi-chevron-right"></i>
                                       </button>
                                   }
                               </text>;
}

@switch (view)
{
    case BannerView.Critical when currentCritical != null:
        <CriticalBanner Critical="currentCritical" />

        break;

    case BannerView.Error when selected != null && selected.IndexWithinSlice < errors.Count:
        <ErrorBanner CycleNav="cycleNav" Entry="errors[selected.IndexWithinSlice]" />

        break;

    case BannerView.Attention when attentionEntries.Count > 0:
        <AttentionBanner AttentionCount="attentionEntries.Count"
            CycleNav="cycleNav"
            OnFallbackErrorPosted="HandleFallbackErrorPosted" />

        break;

    case BannerView.UpgradeProgress when backgroundProgress is { } progress:
        <UpgradeProgressBanner CycleNav="cycleNav" Progress="progress" />

        break;

    case BannerView.Info when selected != null && selected.IndexWithinSlice < infos.Count:
        <InfoBanner CycleNav="cycleNav" Entry="infos[selected.IndexWithinSlice]" />

        break;
}
