<aside class="banner banner-export-progress" role="status">
    <i aria-hidden="true" class="banner-spinner bi bi-arrow-repeat loader-spin"></i>

    <span class="banner-message">@Export.Message</span>

    @CycleNav

    <Button CssClass="banner-action"
        OnClick="() => OnCancelExportClickedAsync(Export)">
        Cancel
    </Button>
</aside>
