<aside class="banner @SeverityClass" role="status">
    <span class="banner-message">@Entry.Title: @Entry.Message</span>

    @CycleNav

    <button aria-label="Dismiss banner"
        class="banner-dismiss button"
        @onclick="OnDismissInfo"
        type="button">
        <i aria-hidden="true" class="bi bi-x"></i>
    </button>
</aside>
