@inherits ModalBase<bool>

<ModalChrome AriaLabel="Filter Groups"
    CloseLabel="Exit"
    Footer="FooterPreset.ImportExportClose"
    Height="70%"
    InlineAlert="@CurrentInlineAlert"
    MinWidth="84rem"
    OnClose="OnCancelAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnExport="OnExportAsync"
    OnImport="OnImportAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    @ref="ChromeRef">
    <ChildContent>
        <div class="flex-column-scroll">
            @foreach ((string name, FilterGroupNode node) in FilterGroupState.Value.DisplayGroups.OrderBy(x => x.Key))
            {
                if (!string.IsNullOrEmpty(name))
                {
                    <FilterGroupSection Name="@name" Node="node" Parent="this" />
                }
                else
                {
                    @foreach (var group in node.Groups)
                    {
                        <FilterGroup Group="group" Parent="this" />
                    }
                }
            }
        </div>

        <button class="button" @onclick="CreateGroup" type="button">
            <i aria-hidden="true" class="bi bi-plus-circle"></i> Create Group
        </button>
    </ChildContent>
</ModalChrome>
