#details-pane {
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 5px;
    height: 30%;
    min-height: 20%;
    overflow: hidden;

    border-top: solid var(--background-darkgray);

    &[data-toggle="false"] { 
        height: auto !important;
        min-height: 0 !important;

        & > :not(#details-header) { display: none; }
    }
}

#details-resizer {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 1;

    cursor: n-resize;
}

.details-group { display: contents; }

    .details-group[data-toggle="true"] { display: none; }

.flex-row > div { padding-right: 5rem; }

.details-description {
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

.details-row-xml {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & .button-primary { width: 6rem; }
}

.details-xml {
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

    .details-xml[data-toggle="false"] { display: none; }
