<div class="details-pane" data-toggle="@_expandMenu.ToString().ToLower()">

    <div class="details-row">
        <div>Details</div>
        <span class="button-toggle" data-rotate="@_expandMenu.ToString().ToLower()" @onclick="ToggleMenu">
            <i class="bi bi-caret-up"></i>
        </span>
    </div>

</div>
