.details-pane {
    display: flex;
    flex-direction: column;

    margin: 5px;
    min-height: 25%;
    max-height: 40%;
    overflow: hidden;

    border-top: solid var(--background-darkgray);

    transition: all 1s;
}

.details-pane[data-toggle="false"] { min-height: auto; }

    .details-pane[data-toggle="false"] > :not(.details-header) { display: none; }

.details-header {
    display: flex;
    justify-content: space-between;
}

.details-group { display: contents; }

    .details-group[data-toggle="true"] { display: none; }

.details-row {
    display: flex;
    flex-direction: row;
}

    .details-row > div { padding-right: 5rem; }

.details-description {
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

.details-row-xml {
    display: flex;
    justify-content: space-between;
}

.details-xml {
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

    .details-xml[data-toggle="false"] { display: none; }
