<div class="details-pane" data-toggle="@_expandMenu.ToString().ToLower()">

    <div class="details-row">
        <div>Details</div>
        <div class="button-toggle" @onclick="ToggleMenu">X</div>
    </div>

</div>