.table-container {
    flex: 1;
    overflow: auto;
    padding: 0 5px;
    background-color: var(--background-dark);
    color: var(--clr-lightblue);
    border-top: 1px solid var(--background-dark);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(odd) { background-color: var(--background-darkgray); }

th {
    position: sticky;
    top: 0;
    background-color: var(--background-darkgray);
    cursor: default;
    user-select: none;

    & > span {
        position: absolute;
        right: 5px;

        &[data-rotate="true"] { top: 25%; }
    }
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5rem;
    border-right: 1px solid var(--clr-black);

    &:last-child { border-right: none; }
}

.selected {
    background-color: var(--clr-lightblue) !important;
    color: var(--background-darkgray) !important;
}

.table-row { cursor: pointer; }

.table-row.blue {
    background-color: var(--highlight-blue) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.green {
    background-color: var(--highlight-green) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.red {
    background-color: var(--highlight-red) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.yellow {
    background-color: var(--highlight-yellow) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.maroon {
    background-color: var(--highlight-maroon) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.orange {
    background-color: var(--highlight-orange) !important;
    color: var(--clr-lightgray) !important;
}

.table-row.pink {
    background-color: var(--highlight-pink) !important;
    color: var(--clr-lightgray) !important;
}

.activity-id { width: 270px; }

.logname { width: 100px; }

.computername { width: 100px; }

.level { width: 100px; }

.time { width: 165px; }

.source { width: 250px; }

.id { width: 100px; }

.task { width: 200px; }

.description { width: 100%; }

.error { color: var(--clr-red); }

.warning { color: var(--clr-yellow); }
