.table-container {
    flex: 1;
    overflow: auto;
    padding: 0 5px;
    background-color: var(--background-dark);
    color: var(--clr-lightblue);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(odd) { background-color: var(--background-darkgray); }

th {
    position: sticky;
    top: 0;
    background-color: var(--background-darkgray);
    cursor: default;

    & > span {
        position: absolute;
        right: 5px;

        &[data-rotate="true"] { top: 25%; }
    }
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5rem;
    border-right: 1px solid var(--clr-black);

    &:last-child { border-right: none; }
}

.selected {
    background-color: var(--clr-lightblue) !important;
    color: var(--background-darkgray) !important;
}

.table-row { cursor: pointer; }

#logname { width: 100px; }

#computername { width: 100px; }

#level { width: 100px; }

#time { width: 165px; }

#source { width: 250px; }

#id { width: 100px; }

#task { width: 200px; }

#description { width: 100%; }

.error {
    color: red;
}

.warning {
    color: yellow;
}
