@inherits FluxorComponent
@inject IState<FilterPaneState> FilterPaneState
@inject IDispatcher Dispatcher

<div class="filter-pane">
    <span>Event ID: </span>
    <input type="number" class="filter-text" @bind-value="filterEventId" />
    <span>Description: </span>
    <input type="text" class="filter-input" @bind-value="filterDescription" />
    <button @onclick="ApplyFilter">Apply</button>
    <span>Last Filter: </span>
    <span>@(FilterPaneState.Value.RecentFilters.FirstOrDefault())</span>
</div>