.filter-pane {
    margin: 5px;

    max-height: 25%;
}

.filter-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filter-content {
    display: flex;
    flex-direction: column;

    max-height: calc(100% - 20px);
    overflow: auto;

    border-bottom: solid var(--background-darkgray);

    transition: all 1s;
}

.filter-content[data-toggle="false"] {
    display: none;

    border: none;
}

#filter-form {
    display: flex;
    flex-direction: row;
}

#filter-form > input { color: #fff; }

.input-advanced-filter {
    width: 800px;
}

.advanced-filter-error {
    margin-left: 70px;
}
