@using EventLogExpert.Shared.Components

@inherits FluxorComponent

@inject IState<FilterPaneState> FilterPaneState

<div class="filter-pane">

    <div class="filter-row">

        <div>
            <button class="button-primary" @onclick="AddFilter">
                <i class="bi bi-plus-circle"></i> Add Filter
            </button>
        </div>

        @if (FilterPaneState.Value.CurrentFilters.Any())
        {
            <span class="header-center"> [Active Filters: @FilterPaneState.Value.CurrentFilters.Count()]</span>

            <span class="button-toggle header-justify-right" data-rotate="@MenuState" @onclick="ToggleMenu">
                <i class="bi bi-caret-up"></i>
            </span>
        }
    </div>

    <div class="filter-content" data-toggle="@MenuState">
        @foreach (var item in FilterPaneState.Value.CurrentFilters)
        {
            <FilterRow Value="@item" />
        }
    </div>

</div>
