.filter-pane {
    margin: 5px;
}

.filter-text {
    width: 100px;
}

.input-filter-id {
    width: 60px;
}

.input-filter-severity {
    width: 100px;
}

.input-filter-dropdown {
    width: 250px;
}

.input-filter-description {
    width: 250px;
}
