.filter-pane {
    display: flex;
    flex-direction: column;

    margin: 5px;

    max-height: 25%;
}

.filter-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filter-group {
    overflow: auto;

    border-bottom: solid var(--background-darkgray);
    transition: all 1s;
}

.filter-group[data-toggle="false"] {
    display: none;

    border: none;
}

#filter-form > input { color: #fff; }

.advanced-filter-error { margin-left: 70px; }
