.tab-pane {
    margin: 0 5px;
    height: 33px;
    margin-bottom: 1px;
}

.tab-row {
    display: flex;
    align-items: flex-end;

    text-align: left;
    width: 250px;
    float: none;
    position: relative;
}

.tab-row > div {
    float: left;
    display: block;
}

input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

label {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 22px;
    border-radius: 3px 3px 0 0;

    max-width: calc(100vw / 5);
    overflow: hidden;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    background: var(--background-darkgray);
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: all 0.1s ease-in-out;
}

label:hover,
[id^="log"]:checked + label {
    padding-top: 6px;
    border-top: 2px solid var(--clr-lightblue);
}
