#tab-pane {
    margin: 0 5px;
    height: 33px;
    overflow: hidden;
}

.tab-row {
    display: flex;
    align-items: flex-end;
}

.tab {
    width: 30ch;
    text-align: center;

    &:hover > span,
    &.active > span {
        padding-top: 6px;
        border-top: 2px solid var(--clr-lightblue);
    }
}

.tab-row > div {
    float: left;
    display: block;
}

span {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 22px;
    border-radius: 3px 3px 0 0;

    overflow: hidden;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    background: var(--background-darkgray);
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: all 0.1s ease-in-out;
}

.spinner-border {
    font-size: 0.85em;
    height: 0.95em;
    width: 0.95em;
}
