.tab-pane {
    margin: 0 5px;
    height: 33px;
    border-bottom: 1px solid var(--background-dark);
}

.tab-row {
    display: flex;

    text-align: left;
    width: 250px;
    float: none;
    position: relative;
}

.tab-row > div {
    float: left;
    display: block;
}

input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

label {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 22px;
    border-radius: 6px 6px 0 0;
    border: 1px solid var(--background-darkgray);

    max-width: calc(100vw / 5);
    overflow: hidden;

    background: var(--background-darkgray);
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: all 0.2s ease-in-out;

    &:hover { border: 1px solid var(--clr-lightblue); }
}

[id^="log"]:checked + label {
    top: 0;
    padding-top: 6px;
    border: 1px solid var(--clr-lightblue);
    background: var(--background-dark);
}
