@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<StatusBarState> StatusBarState

<div class="status-bar">
    @if (EventLogState.Value.Events.Count < 1 || EventLogState.Value.ActiveLog.LogType == EventLogExpert.Store.EventLog.EventLogState.LogType.File)
    {
        <span>Events Loaded: @StatusBarState.Value.EventsLoaded</span>
    }
    else
    {
        <span>Events Loaded: @EventLogState.Value.Events.Count</span>
    }

    @if (EventLogState.Value.ContinuouslyUpdate)
    {
        <span>Continuously Updating</span>
    }
    else
    {
        <span>New Events: @EventLogState.Value.NewEventBuffer.Events.Count</span>
        @if (EventLogState.Value.NewEventBuffer.IsBufferFull)
        {
            <span>Buffer Full</span>
        }
    }

    @if (!string.IsNullOrEmpty(StatusBarState.Value.ResolverStatus))
    {
        <span>@StatusBarState.Value.ResolverStatus</span>
    }
</div>
