@using EventLogExpert.Components
@using EventLogExpert.Shared.Components
@using EventLogExpert.Shared.Components.Menu
@inherits LayoutComponentBase

<div class="page">
    <ModalHost />
    <MenuHost />

    <nav aria-label="Main menu">
        <MenuBar />
    </nav>

    <main class="page-content">
        <FilterPane />
        <EventTable />
        <DetailsPane />
    </main>

    <footer>
        <StatusBar />
    </footer>
</div>
