@using EventLogExpert.Shared.Components
@using EventLogExpert.Shared.Components.Filters
@using EventLogExpert.Components
@inherits LayoutComponentBase

<div class="page" tabindex="0" @onkeyup="HandleKeyUp">
    <SettingsModal />
    <FilterCacheModal />
    <FilterGroupModal />
    <DebugLogModal />

    <TableColumnMenu />
    <ContextMenu />

    <div class="display_layout">
        <FilterPane />
        <EventTable />
        <DetailsPane />
    </div>
    <StatusBar />
</div>
