@using EventLogExpert.UI.Store.Settings
@using EventLogExpert.Shared.Components
@using EventLogExpert.Shared.Components.Filters
@using EventLogExpert.Components
@inherits LayoutComponentBase

@inject IState<SettingsState> SettingsState

<SettingsModal />
<FilterCacheModal />
<FilterGroupModal />

<TableColumnMenu />
<ContextMenu />

<div class="page">
    <div class="display_layout">
        <FilterPane />
        <EventTable />
        <DetailsPane />
    </div>
    <StatusBar />
</div>
