@using EventLogExpert.Components
@using EventLogExpert.Shared.Components
@using EventLogExpert.Shared.Components.Filters
@inherits LayoutComponentBase

<div class="page" @onkeyup="HandleKeyUp" tabindex="0">
    <SettingsModal />
    <FilterCacheModal />
    <FilterGroupModal />
    <DebugLogModal />

    <TableColumnMenu />
    <ContextMenu />

    <div class="page">
        <FilterPane />
        <EventTable />
        <DetailsPane />
        <StatusBar />
    </div>
</div>
