@using EventLogExpert.Components
@using EventLogExpert.Shared.Components
@using EventLogExpert.Shared.Components.Menu
@inherits LayoutComponentBase

<div class="page" tabindex="0">
    <ModalHost />
    <MenuHost />

    <MenuBar />

    <div class="page-content">
        <FilterPane />
        <EventTable />
        <DetailsPane />
        <StatusBar />
    </div>
</div>
