@using EventLogExpert.Shared.Components
@using EventLogExpert.Components

@inherits LayoutComponentBase

<SettingsModal />

<div class="page">
    <div class="display_layout">
        <FilterPane />
        <EventTable />
        <DetailsPane />
    </div>
    <StatusBar />
</div>
