@using EventLogExpert.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="display_layout">
        <FilterPane />
        <EventTable />
        <DetailsPane />
    </div>
    <StatusBar />
</div>