@inherits ErrorBoundary

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
}
else
{
    <div class="page">
        @ChildContent

        <div class="blazor-error-boundary"></div>
    </div>
}
