<div class="library-entry-row">
    <span class="library-entry-kind-badge">@KindLabel</span>
    <span class="library-entry-name">@Entry.Name</span>

    <button class="button button-green"
        @onclick="HandleApplyClicked"
        type="button">
        Apply
    </button>
    <button class="button button-red"
        @onclick="HandleDeleteClicked"
        type="button">
        Delete
    </button>
</div>
