@using EventLogExpert.UI.DatabaseTools.Tabs
@inherits ModalBase<bool>

<ModalChrome AriaLabel="Databases"
    BodyLayout="ModalBodyLayout.Flex"
    Footer="FooterPreset.CloseOnly"
    Height="80%"
    InlineAlert="@CurrentInlineAlert"
    MaxWidth="min(80rem, calc(100vw - 2rem))"
    MinWidth="min(80rem, calc(100vw - 2rem))"
    OnCancel="HandleCancelButtonClickAsync"
    OnClose="HandleCancelButtonClickAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    @ref="ChromeRef">
    <ChildContent>
        <CascadingValue Name="VerboseLogging" Value="_verboseLogging">
            <CascadingValue IsFixed="true" Value="(IInlineAlertSurface)this">
                <SidebarTabs @bind-ActiveTab="_activeTab"
                    TablistAriaLabel="Database tools"
                    Tabs="s_tabs"
                    TTab="DatabaseToolsTab">
                    <TabContent Context="tab">
                        @switch (tab)
                        {
                            case DatabaseToolsTab.Show:
                                <ShowProvidersTab @ref="_showTab" />

                                break;
                            case DatabaseToolsTab.Create:
                                <CreateDatabaseTab @ref="_createTab" />

                                break;
                            case DatabaseToolsTab.Merge:
                                <MergeDatabaseTab @ref="_mergeTab" />

                                break;
                            case DatabaseToolsTab.Diff:
                                <DiffDatabasesTab @ref="_diffTab" />

                                break;
                            case DatabaseToolsTab.Upgrade:
                                <UpgradeDatabaseTab @ref="_upgradeTab" />

                                break;
                            case DatabaseToolsTab.Manage:
                                <ManageDatabasesTab @ref="_manageTab" />

                                break;
                        }
                    </TabContent>
                </SidebarTabs>
            </CascadingValue>
        </CascadingValue>
    </ChildContent>
    <ExtraFooterContent>
        <div aria-labelledby="verbose-mode-label" class="verbose-mode" role="group">
            <span class="verbose-mode-label" id="verbose-mode-label">Output</span>
            <OptionSelect AriaDescribedBy="verbose-mode-help"
                AriaLabelledBy="verbose-mode-label"
                @bind-Value="_verboseLogging"
                DisabledString="Normal"
                EnabledString="Verbose" />
            <span class="visually-hidden" id="verbose-mode-help">
                Verbose includes trace-level diagnostic details on next run.
            </span>
        </div>
    </ExtraFooterContent>
</ModalChrome>
