@using EventLogExpert.Shared.Base
@inherits EditableFilterRowBase

<FilterRowChrome ErrorMessage="@ErrorMessage"
    Filter="Filter"
    IsPending="IsPending"
    OnCancel="CancelFilter"
    OnEdit="EditFilter"
    OnRemove="RemoveFilter"
    OnSave="SaveFilter"
    OnToggleEnabled="ToggleFilter"
    OnToggleExclusion="ToggleFilterExclusion"
    Value="Value">
    <EditingContent>
        <span>
            @if (Filter!.IsExcluded)
            {
                <label aria-label="Exclude Expression" for="@Id">Exclude Expression: </label>
            }
            else
            {
                <label aria-label="Expression" for="@Id">Expression: </label>
            }
            <input class="input advanced-filter" id="@Id" @oninput="OnInputChanged"
                placeholder="(Id == 1000 || Id == 1001) && Description.Contains('Fault')"
                type="text" value="@Filter!.ComparisonText" />
        </span>
    </EditingContent>
</FilterRowChrome>
