@using EventLogExpert.Shared.Base
@using EventLogExpert.UI
@inherits EditableFilterRowBase

<FilterRowChrome ErrorMessage="@ErrorMessage"
    Filter="Filter"
    IsPending="IsPending"
    OnCancel="CancelFilter"
    OnEdit="EditFilter"
    OnRemove="RemoveFilter"
    OnSave="SaveFilter"
    OnToggleEnabled="ToggleFilter"
    OnToggleExclusion="ToggleFilterExclusion"
    RightCssClass="justify-self-right"
    Value="Value">
    <EditingContent>
        <label aria-label="Cache Type">Cache Type: </label>

        <ValueSelect @bind-Value="_cacheType" CssClass="input filter-dropdown" T="CacheType" ToStringFunc="x => x.ToFullString()">
            @foreach (CacheType item in Enum.GetValues(typeof(CacheType)))
            {
                <ValueSelectItem T="CacheType" Value="item" />
            }
        </ValueSelect>

        @if (Filter!.IsExcluded)
        {
            <label aria-label="Exclude Value">Exclude Value: </label>
        }
        else
        {
            <label aria-label="Value">Value: </label>
        }

        <ValueSelect @bind-Value="Filter!.ComparisonText" CssClass="input cache-dropdown" IsInput T="string">
            @if (Items.Any())
            {
                @foreach (var item in Items)
                {
                    <ValueSelectItem T="string" Value="item" />
                }
            }
            else
            {
                <ValueSelectItem IsDisabled T="string" />
            }
        </ValueSelect>
    </EditingContent>
</FilterRowChrome>
