@using EventLogExpert.UI.Store.EventLog
@inherits EventLogExpert.Shared.Base.SelectComponent<string>

@inject IState<EventLogState> EventLogState

<div class="dropdown-input" @ref="selectComponent">
    <label>
        <input type="text" class="input filter-value-dropdown" value="@Value" tabindex="0" @oninput="OnInputChange"
            @onblur="CloseDropDown" @onclick="ToggleDropDownVisibility" />
    </label>

    <div class="dropdown-list" data-toggle="@IsDropDownVisible">
        <div @onmousedown="() => UpdateValue(string.Empty)">All</div>
        @foreach (var item in FilteredItems)
        {
            <div selected="@CheckIfSelected(item)" @onmousedown="() => UpdateValue(item)">@item</div>
        }
    </div>
</div>
