@inherits Base.BaseModal

<dialog id="filterCacheDialog" @ref="ElementReference">
    <div class="dialog-group">
        <div class="flex-column-scroll">
            @if (FilterCacheState.Value.FavoriteFilters.Any())
            {
                <div>Favorite Filters</div>
                @foreach (var filter in FilterCacheState.Value.FavoriteFilters)
                {
                    <div class="flex-space-between">
                        <div>
                            <button class="button button-yellow" type="button" @onclick="() => RemoveFavorite(filter)">
                                <i class="bi bi-star-fill"></i>
                            </button>
                            <span>@filter</span>
                        </div>

                        <button class="button button-green" type="button" @onclick="() => AddFilter(filter)">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </div>
                }

                <hr class="divider" />
            }

            @if (FilterCacheState.Value.RecentFilters.Any())
            {
                <div>Recent Filters</div>
                @foreach (var filter in FilterCacheState.Value.RecentFilters)
                {
                    <div class="flex-space-between">
                        <div>
                            <button class="button button-yellow" type="button" @onclick="() => AddFavorite(filter)">
                                <i class="bi bi-star"></i>
                            </button>
                            <span>@filter</span>
                        </div>

                        <button class="button button-green" type="button" @onclick="() => AddFilter(filter)">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </div>
                }
            }
            else
            {
                <p>No Recent Filters</p>
            }
        </div>
        
        <div class="footer-group">
            <div>
                <button class="button" @onclick="ImportFavorites">Import</button>
                <button class="button" @onclick="ExportFavorites">Export</button>
            </div>

            <button class="button" @onclick="Close">Exit</button>
        </div>
    </div>
</dialog>
