@using EventLogExpert.UI.Models
@using EventLogExpert.UI.Store.FilterCache
@inherits EventLogExpert.Shared.Base.SelectComponent<FilterCacheModel>

@inject IState<FilterCacheState> FilterCacheState

<div class="input-select" @ref="selectComponent">
    <label>
        <input type="text" class="input cache-dropdown" value="@Value.ComparisonString" readonly
            @onfocusin="() => SetDropDownVisibility(true)" @onfocusout="() => SetDropDownVisibility(false)" />
    </label>

    <div class="dropdown-list" data-toggle="@IsDropDownVisible">
        @foreach (var item in FilterCacheState.Value.FavoriteFilters)
        {
            <div @onmousedown="() => UpdateValue(item)">
                <i class="bi bi-star-fill pe-1"></i>@item.ComparisonString
            </div>
        }
        
        @foreach (var item in FilterCacheState.Value.RecentFilters)
        {
            <div @onmousedown="() => UpdateValue(item)">
                <i class="bi bi-star pe-1"></i>@item.ComparisonString
            </div>
        }
    </div>
</div>
