@using EventLogExpert.UI
@using EventLogExpert.UI.Models

<div class="flex-space-between">
    @if (_isEditing)
    {
        <div class="flex-align-center">
            <span>Cache Type: </span>
            <EnumSelect CssClass="input filter-dropdown" TInput="CacheType" @bind-Value="_cacheType" />

            <span>Value: </span>
            @if (_cacheType == CacheType.Favorites)
            {
                <ValueSelect CssClass="input cache-dropdown" TInput="FilterCacheModel" @bind-Value="Value" Items="FilterCacheState.Value.FavoriteFilters.ToList()" />
            }
            else
            {
                <ValueSelect CssClass="input cache-dropdown" TInput="FilterCacheModel" @bind-Value="Value" Items="FilterCacheState.Value.RecentFilters.ToList()" />
            }
        </div>
    }
    else
    {
        <span>@Value.ComparisonString</span>
    }

    <div class="justify-self-right">
        @if (_isEditing)
        {
            <button class="button button-green" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button button-red fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button button-green fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>
