@using EventLogExpert.UI.Store.FilterCache
@inherits FluxorComponent

@inject IState<FilterCacheState> FilterCacheState

<dialog id="filterCacheDialog">
    <div class="recent-filter-list">
        @if (FilterCacheState.Value.FavoriteFilters.Any())
        {
            <div>Favorite Filters</div>
            <div class="favorite-filter-list">
                @foreach (var filter in FilterCacheState.Value.FavoriteFilters)
                {
                    <div class="cached-filter-row">
                        <span>@filter</span>
                        <button class="button-remove" type="button" @onclick="() => RemoveRecentFilter(filter)">
                            <i class="bi bi-dash-circle"></i> Remove
                        </button>
                    </div>
                }
            </div>
        }

        @if (FilterCacheState.Value.RecentFilters.Any())
        {
            <div>Recent Filters</div>
            @foreach (var filter in FilterCacheState.Value.RecentFilters)
            {
                <div class="cached-filter-row">
                    <span>@filter</span>
                    <button class="button-remove" type="button" @onclick="() => RemoveRecentFilter(filter)">
                        <i class="bi bi-dash-circle"></i> Remove
                    </button>
                </div>
            }
        }
        else
        {
            <p>No Recent Filters</p>
        }
    </div>

    <div class="footer-group align-right">
        <button class="button-primary" type="button" @onclick="Close">Exit</button>
    </div>
</dialog>
