dialog {
    height: 60%;
    min-width: 50rem;

    color: var(--clr-lightblue);
    border-color: var(--clr-statusbar);
    background-color: var(--background-dark);
}

.dialog-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.recent-filter-list {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

.favorite-filter-list { border-bottom: solid var(--background-darkgray); }

.cached-filter-row {
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}
