@using EventLogExpert.UI.Store.Settings;
@inherits FluxorComponent

@inject IState<SettingsState> SettingsState

<dialog id="filterCacheDialog">
    <button class="button-primary" type="button" @onclick="Close">Exit</button>
</dialog>
