@using EventLogExpert.UI

<div class="flex-space-between">
    @if (Value.IsEditing)
    {
        <div class="flex-align-center">
            <span>Filter On: </span>
            <EnumSelect CssClass="input filter-dropdown" TInput="FilterType" @bind-Value="Value.FilterType" />

            <span>Comparison: </span>
            <EnumSelect CssClass="input filter-dropdown" TInput="FilterComparison" @bind-Value="Value.FilterComparison" />

            <span>Value: </span>
            <div>
                @if (Value.FilterType is FilterType.Description)
                {
                    <TextInput CssClass="input filter-description" @bind-Value="@Value.FilterValue" />
                }
                else
                {
                    <FilterValueSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
                }
            </div>
        </div>
    }
    else if (string.IsNullOrWhiteSpace(Value.ComparisonString))
    {
        <span>No Filter Specified</span>
    }
    else
    {
        <span>@Value.ComparisonString</span>
    }

    <div class="justify-self-right">
        @if (Value.IsEditing)
        {
            <button class="button" @onclick="AddSubFilter">
                <i class="bi bi-plus-circle"></i> Add Sub Filter
            </button>

            <button class="button button-green" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button button-red fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button button-green fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>

@if (Value.SubFilters.Any() && Value.IsEditing)
{
    <div class="flex-column">
        @foreach (var item in Value.SubFilters)
        {
            <SubFilterRow ParentId="Value.Id" Value="@item" />
        }
    </div>
}
