@using EventLogExpert.Shared.Base
@inherits FilterRowBase<BasicSubClauseDraft>

<div class="flex-center-aligned-row px-4">
    <div class="flex-align-center">
        <BooleanSelect AriaLabel="Should Compare" @bind-Value="Value.JoinWithAny" DisabledString="AND" EnabledString="OR" IsSingleColor="true" />

        <FilterCategoryEditor Data="Value.Criteria" Id="@Id" />
    </div>

    <button class="button button-red fixed-width" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
