@using EventLogExpert.UI

<div class="flex-center-aligned-row px-4">
    <div class="flex-align-center">
        <span>Join On: </span>
        <EnumSelect CssClass="input filter-dropdown" @bind-Value="Value.FilterType" TInput="FilterType" />

        <span>Comparison: </span>
        <EnumSelect CssClass="input filter-dropdown" @bind-Value="Value.FilterComparison" TInput="FilterComparison" />

        <span>Value: </span>
        @if (Value.FilterType is FilterType.Description)
        {
            <TextInput CssClass="input filter-description" @bind-Value="@Value.FilterValue" />
        }
        else
        {
            <FilterValueSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
        }

    </div>

    <button class="button button-red" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
