@using EventLogExpert.UI

<div class="flex-center-aligned-row px-4">
    <div class="flex-align-center">
        <span>Join On: </span>
        <ValueSelect CssClass="input filter-dropdown" T="FilterType" @bind-Value="Value.FilterType" ToStringFunc="x => x.ToFullString()">
            @foreach (FilterType item in Enum.GetValues(typeof(FilterType)))
            {
                <ValueSelectItem T="FilterType" Value="item" />
            }
        </ValueSelect>

        <span>Comparison: </span>
        <ValueSelect CssClass="input filter-dropdown" T="FilterComparison" @bind-Value="Value.FilterComparison" ToStringFunc="x => x.ToFullString()">
            @foreach (FilterComparison item in Enum.GetValues(typeof(FilterComparison)))
            {
                <ValueSelectItem T="FilterComparison" Value="item" />
            }
        </ValueSelect>

        <span>Value: </span>
        @if (Value.FilterType is FilterType.Description)
        {
            <TextInput CssClass="input filter-description" @bind-Value="@Value.FilterValue" />
        }
        else
        {
            <FilterValueSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
        }

    </div>

    <button class="button button-red" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
