@using EventLogExpert.UI.Store.EventLog
@using EventLogExpert.UI
@inject IState<EventLogState> EventLogState

<div class="flex-center-aligned-row px-4">
    <div class="flex-align-center">
        <span>Join On: </span>
        <ValueSelect CssClass="input filter-dropdown" T="FilterType" @bind-Value="Value.FilterType" ToStringFunc="x => x.ToFullString()">
            @foreach (FilterType item in Enum.GetValues(typeof(FilterType)))
            {
                <ValueSelectItem T="FilterType" Value="item" />
            }
        </ValueSelect>

        <span>Comparison: </span>
        <ValueSelect CssClass="input filter-dropdown" T="FilterComparison" @bind-Value="Value.FilterComparison" ToStringFunc="x => x.ToFullString()">
            @foreach (FilterComparison item in Enum.GetValues(typeof(FilterComparison)))
            {
                <ValueSelectItem T="FilterComparison" Value="item" />
            }
        </ValueSelect>

        <span>Value: </span>
        @if (Value.FilterType is FilterType.Description)
        {
            <TextInput CssClass="input filter-description" @bind-Value="@Value.FilterValue" />
        }
        else if (Value.FilterComparison == FilterComparison.MultiSelect)
        {
            <ValueSelect CssClass="input filter-multiselect-dropdown" T="string" @bind-Values="Value.FilterValues" IsMultiSelect
                ToStringFunc="@(x => string.IsNullOrWhiteSpace(x) ? "All" : x)">
                <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                @foreach (var item in Items)
                {
                    <ValueSelectItem T="string" Value="item" />
                }
            </ValueSelect>
        }
        else
        {
            <ValueSelect CssClass="input filter-value-dropdown" T="string" @bind-Value="Value.FilterValue" IsInput>
                <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                @foreach (var item in FilteredItems)
                {
                    <ValueSelectItem T="string" Value="item" />
                }
            </ValueSelect>
        }

    </div>

    <button class="button button-red" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
