@inherits LayoutComponentBase

<div class="page">
    <a class="skip-link" href="#main-content">Skip to main content</a>

    <ModalHost />
    <MenuHost />

    <MenuBar />

    <main class="page-content" id="main-content" tabindex="-1">
        <FilterPane />
        <LogTablePane />
        <DetailsPane />
    </main>

    <footer>
        <StatusBar />
    </footer>

    <AnnouncerHost />
</div>
