@namespace EventLogExpert.UI.DatabaseTools.Tabs

<div class="manage-databases-tab">
    <p class="manage-databases-placeholder">
        Database management is being prepared. The provider database list, import, and recovery
        controls will move here from Settings in commit 2.
    </p>
</div>
